@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

body {
  background: #f7f7f7;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}
